@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
font-family: 'Montserrat', sans-serif !important;
color: white;
}

body{
    background-color: rgb(4, 36, 63);
}